<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.mapper.ClothMapper">

<!--★XMLは「データや設定」を保管するもの
	タグの名前は自由。画面に表示するためではなく、
	プログラムがデータを読みやすくするために使われる
	(HTMLはタグ名が決まっていて見た目を整えるもの)-->

<!--全件取得-->
<!--oreder by カラム名= どういう順番で並び替えるか-->
<!--domainとDBのカラム名変えたのでselectのあとしっかり明記する-->
<select id="findAllDesc" resultType="Cloth">
 select 
    id,
    name,
    category,
    color,
    brand,
    price,
    image_name AS imageName,
    is_favorite AS favorite,
    is_spring AS spring,
    is_summer AS summer,
    is_autumn AS autumn,
    is_winter AS winter
 from item  
 order by id desc

</select>

<!--データ１件追加（Clothのすべてのフィールドに対応）-->
<!--カラム名もきちんと書くとvaluesの順番ずれても正しくマッチングする-->
<insert id="add" parameterType="Cloth">
 insert into item(
 name,
 category,
 color,
 brand,
 price,
 is_favorite,
 image_name,
 is_spring,
 is_summer,
 is_autumn,
 is_winter
 )
<!-- values＝新しいデータを登録するとき、その中身（値）を指定する(insertとセットのこと多い)-->
 values(
 #{name},
 #{category},
 #{color},
 #{brand},
 #{price},
 #{favorite},
 #{imageName},
 #{spring},
 #{summer},
 #{autumn},
 #{winter}
 )
</insert>


<!--３.データ削除-->
<!--#{id}：Javaの引数 Integer id で受け取った数字（「5」など）が、
自動的にここにスポッとあてはまります。MyBatisでJavaの変数をSQLに組み込みたいとき=#{変数名}-->
<delete id="deleteById">
 delete from item
 where id = #{id}
</delete>

<!--４.絞込検索-カテゴリー検索からパワーアップ-->

<!--parameterType=Java側から「このデータをSQLで使ってね」と送り込むときのデータの型
=XMLの #{...} の中身に値を当てはめるために使う
引数が文字列（String）なら parameterType="String"、
クラス丸ごと渡すなら parameterType="Cloth" と書きます(カテゴリ検索に対応したクラス作った場合
今回は引数5つをバラバラに渡してるため省略可能)-->
<!--parameterType に書けるのは、基本的に「1つの型（クラス名やStringなど）」だけです。
引数が複数あると、parameterType="String, List, String" のようには書けないため、MyBatisのルールで「引数が複数のときは parameterType は書かずに省略してね。
中身は @Param の名前で識別するから大丈夫だよ」となっているのです。。-->

<!--resultType=SQLの select 文を実行した結果、Javaのどの型(),クラスにデータを詰め込んでほしいかを指定するもの
※データを消すだけの delete や、追加するだけの insert はデータを返さないため、resultType は不要-->
<!--resultType="Cloth"： SQLが実行された後、データベースから
「条件に合致した服のデータ（色は単数の Red や Blue）」が返ってきたときに、
それを入れる器（うつわ）として Cloth クラスを使います。
クラス使う場合はそのクラスで宣言してるすべての値がDBから帰ってくるとき-->

<!--「探すための条件（複数）」と「見つかった服のデータ（単数）」は別物なので、
Cloth クラスに colors（List）がなくても、
何の問題もなく resultType="Cloth" を指定していい-->

<select  id="search" resultType="Cloth">
select * from  item
<!--中身の <if> 条件が1つでも一致した場合のみ、
SQLに WHERE というキーワードを自動で追加します。
ex）WHERE category = 'シャツ' AND color IN ('Red')＝WHERE category 
= #{category} AND color IN ( #{color} )になる-->
<!--最初に来る条件の AND や OR は、邪魔なので勝手に消してくれる
（これがないと WHERE AND category = ... になってしまいSQLエラーになる）-->
<where>
<!--if test="..."：Javaから渡されたパラメータが条件を満たしているか判定-->
<!--category != null and category != ''"：
変数 category が null（未設定）ではなく、かつ ''（空文字）でもない場合、
つまり「画面でカテゴリがちゃんと選択・入力されている場合」に、
この内側のSQLを有効にする-->
<!--AND を付けないと：条件が2つ以上になったときに繋ぎ目がなくなってエラーになる-->
<if test="category != null and category !=''">
and category = #{category}
</if>
<!--「もし色（colors）が指定されていたら、
その色だけで検索を絞り込む（IN句を作る）」-->
<!--colors: 赤や青などのデータが複数詰まった「箱（リストや配列）」-->
<!--.size():その箱の中に「今、何個のデータが入っているか」を数えてくれる-->
<if test="colors != null and colors.size() > 0">
<!--AND color IN ('赤', '青', '緑')：
		チェックされた数に合わせて自動で組み立ててくれる便利システム-->
<!--IN を使うとき（色）：「color」という1つの列(DB)の中で、
	複数の値（赤・青）のどれかに一致するか探したいとき。-->
and color in
<!--open="("：ループの始まりに置く文字は？	最初に ( を書く-->
<!--close=")"：ループの終わりに置く文字は？	最後に ) を書く-->
<!--separator=","：データとデータの区切り文字は？	データの間に , を挟む-->
<!--collection="colors"	：元になるリスト＝Java側の変数名
		ex)「赤, 青, 緑」が入ったリストを指定-->
<!--item="color"：ループ中、1個ずつのデータを何と呼ぶか＝自由に名前つけれる
	1個ずつ取り出して color と名付ける-->
<!--1回目のループで('赤'、2回目のループで('赤', '青'ようなる-->
	<foreach item="color" collection="colors" open="(" separator="," close=")">
<!--#{color} の中身（赤、青などの具体的な値）自体はJavaから来たもの、
	color という変数名（ラベル）自体はMyBatis側で新しく作ったもの-->
<!--ループで取り出された個々の色（例: 'Red'）が#{color}バインドされる-->
 	#{color}
    </foreach>
</if>

<!--複数選択可能-->
<!--OR を使うとき（季節）：「is_spring」「is_summer」という別々の列(DB)を
	またいで、どれかが true になっているか探したい-->
<!--and ( ) は「1つの条件の中に複数回答（候補）があるときまとめる-->
<!--中の <if> たち：チェックがついた季節の分だけ OR ○○ = true を生み出す-->
<if test="seasons != null and seasons.size() > 0">

<!--AND ( is_spring = true OR is_summer = true ):
このように、複数選ばれたときは OR で繋がれて、しっかりと「春、または夏の服」を検索-->
  AND (

<!-- 文字('isSpring')を含んでいたら＝true-->
<!--trim prefixOverrides="OR"：「内側で出来上がった文字の先頭に
 OR（または大文字小文字問わず or）があったら、勝手に消し去ってね」という命令
 if文でつくられた→OR is_summer = true OR is_autumn = trueの先頭のor消す-->
   <trim prefixOverrides="OR">
        <if test="seasons.contains('IsSpring')">
          is_spring = true
        </if>
        <if test="seasons.contains('IsSummer')">
          OR is_summer = true
        </if>
        <if test="seasons.contains('IsAutumn')">
          OR is_autumn = true
        </if>
        <if test="seasons.contains('IsWinter')">
          OR is_winter = true
        </if>
      </trim>
            )
 </if>
 
<if test="brand!=null and brand !=''">
<!--LIKE：SQLの「部分一致（あいまい検索）」を行うためのキーワード-->
<!--CONCAT ：文字列を結合するSQLの関数-->
<!--ブランド名の前後に % をくっつけることで、
「〜を含む」という部分一致の条件を作ってる（例: Nike と入力したら %Nike% になる）-->
AND brand LIKE CONCAT('%', #{brand}, '%')
</if>

<!--変数 isFavorite（Boolean型）が null ではなく、
かつ true（お気に入りチェックON）である場合に有効-->
<if test="isFavorite != null and isFavorite == true">
<!--データベースの is_favorite カラムが true のレコードだけにしぼり込み-->
	AND is_favorite = true
 </if>
</where>
<!--、条件が有ろうが無かろうが、最後の並び替えだけは確実に実行-->
ORDER BY id DESC
</select>


<!--５．クローゼット総額計算-->
<!--SQLで帰ってくるのは金額のみなので=resultType="Integer"-->
<select  id="getTotalPrice"  resultType="Integer">
select sum(price) from item
</select>

<!--クローゼット総量計算-->
<select id="getTotalCount" resultType="Integer">
select count(*) from item
</select>

<!--カテゴリーごとの金額・総量-->
<!--戻り値の型を resultType="map"→Java側で Map<String, Object>
	（{category="tops", totalPrice=12000, totalCount=3} のような
	鍵と値のセット）のリストとして綺麗に受け取れる-->
<!--COUNT(*)：nullがあろうがなかろうが、データの行数を丸ごと数える-->
<select id="getCategory" resultType="map">
select category,<!--そのグループの名前-->
sum(price) as totalPrice,<!--そのグループに属する商品の金額を全部足したもの-->
count(*) as totalCount<!--そのグループに属する商品が何個あったか-->
from item
group by category
</select>

<!--季節ごとの金額・総量-->
<!--季節は4つの行に別れているので1つの表に合体させる-->
<select id="getSeasonTotal" resultType="map">
select'春' as season,<!--その「春」という文字が入る列にseasonという名前(列名)をつける-->
COALESCE(sum(price), 0) as totalPrice,
count(*) as totalCount<!--絞り込んだ春物商品が全部で何件あるかを数える-->
from item
where is_spring = true
UNION ALL<!--UNION ALL：別々に計算した結果を縦に繋げる春夏秋冬の列の表になる-->
SELECT '夏' AS season, 
COALESCE(sum(price), 0) as totalPrice, 
COUNT(*) AS totalCount 
FROM item
WHERE is_summer = true
UNION ALL
SELECT '秋' AS season, 
COALESCE(sum(price), 0) as totalPrice, 
COUNT(*) AS totalCount
FROM item
WHERE is_autumn = true
UNION ALL
SELECT '冬' AS season, 
COALESCE(sum(price), 0) as totalPrice, 
COUNT(*) AS totalCount 
FROM item 
WHERE is_winter = true
</select>

<!--カテゴリ×季節の金額・総量-->
<!--UNION ALL：それぞれのSELECT文が取得した結果シートを縦に丸ごと連結する-->
<select id="getCategorySeasonTotal" resultType="map">
SELECT category,<!-- 3.カテゴリー名表示-->
'春' AS season,<!--4.春という行のseasonという列を作る -->
SUM(price) AS totalPrice,<!--5.チーム分けされたものを(カテゴリー)金額計算 -->
COUNT(*) AS totalCount <!--6.チーム分けされたものを(カテゴリー)総量計算 -->
FROM item <!--1.まずテーブルから指定されたカラムがtrueの商品だけ取ってくる-->
WHERE is_spring = true 
GROUP BY category<!--2.絞り込んだ商品をカテゴリーごとにグループ化-->
UNION ALL
SELECT category, '夏' AS season, 
SUM(price) AS totalPrice, 
COUNT(*) AS totalCount 
FROM item 
WHERE is_summer = true GROUP BY category
UNION ALL
SELECT category, '秋' AS season, 
SUM(price) AS totalPrice, 
COUNT(*) AS totalCount 
FROM item WHERE is_autumn = true 
GROUP BY category
UNION ALL
SELECT category, '冬' AS season, 
SUM(price) AS totalPrice, 
COUNT(*) AS totalCount 
FROM item WHERE is_winter = true 
GROUP BY category
</select>

</mapper>