<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
</head>
<body>
	<header>
	<h1>MyCloset</h1>
	<!--display: inline-block: 横幅いっぱいに広がらず
	中の文字の長さに合わせて自動でコンパクトなサイズに-->
	<div style="margin: 10px; padding: 8px 15px; 
	background-color: #fff4f4;border-radius: 8px; display: inline-block;
	border: 1px solid #ffcccc;">
		<span style="font-weight: bold;">💰クローゼットの総額</span>
<!--デザイン: 金額を他の文字より「一回り大きく（1.3em）-->
		<span style="font-size: 1.3em; color: #ff6b6b; font-weight: bold;" 
		th:text="${totalPrice}">0</span>
		<span style="color: #ff6b6b; font-weight: bold; 
		margin-right: 5px;">円</span>
		<span style="margin-left: 10px; font-weight: bold; color: #666;">（合計: 
		<span style="font-size: 1.2em; color: #ff6b6b;"
		 th:text="${totalCount}">0</span>着）
		</span>
<!--	/total-details というページへのリンクURL作る-->
<!--underline：下線＝クリックできるのをわかりやすく-->
		<a th:href="@{/total-details}" style="margin-left: 15px; font-size: 0.9em;
		color: #0066cc; text-decoration: underline; font-weight: bold;">詳しく見る</a>"></a>
	</div>
	
	
	
<!--	<nav>タグ＝ページ移動のための大事なボタン-->
	<nav>
		<button type="button">お気に入りリスト</button>
		<button type="button">売りたいリスト</button>
	</nav>
	</header>
<!--1つ目の大きな div 箱：「お洋服一覧」というエリア全体を包む箱
	2つ目の小さな div 箱（th:each がついている方）： 服1着分のデータ（画像など）
	を1つのセットとして包む箱。服が3着ある＝この小さな箱が3個自動で出来る。-->
	
	<div>
		<h2>お洋服一覧</h2>
<!--		th:each のおかげで、画像とボタンがセットで人数分用意される。-->
		<div th:each="cloth : ${clothes}">
<!--	max-width（最大の横幅）-->
<!--★ブラウザから /uploads/** というURLでアクセスが来たら、
	パソコン内の C:/Users/zd2U08/uploads/ フォルダの画像を見せてあげてね！」]
	=設定をWebMvcConfigurerでしてる 
	この設定で指定するURLの文字（/uploads）は自分で決められますが、
	決めたらHTML側もその名前に合わせる必要があります。-->
<!--@{/uploads/...} ：「/uploads/ というフォルダのURLを作ってね」-->
<!--@{  /URLの固定の部分/ {好きなあだ名} ( 好きなあだ名 = ${Javaの変数} )  }-->
<!--@{ ... } ：「今からURLを組み立てるよ！」の合図-->
<!--/uploads/ ：ここは全員共通の固定の文字-->
<!--{aaa} ：後から変数をはめ込むための「空箱」-->
<!--(aaa=${cloth.imageName}) ：「空箱 aaa に、DBから取ってきたファイル名を入れてね」という指示-->
<!--${cloth.imageName}=DBのimage_name受け取れる-->
			<img th:src="@{/uploads/{aaa}(aaa=${cloth.imageName})}" alt="画像一覧" style="max-width: 200px;" />
<!--			th:action で指定した削除URLへ method="post"（ポスト送信）する-->
<!--th:action のおかげで、ボタン一つ一つに「〇番の服を消してね！」という専用の宛先が書き込まれる。-->
			<form th:action="@{/delete/{id}(id=${cloth.id})}" method="post" onsubmit="return confirm('本当に削除しますか')">
				<button type="submit">削除</button>
<!-- onsubmit="return confirm('本当に削除しますか？')"=はJavaScriptという、
	ブラウザ側で動く言語のコードconfirm('')：送信ボタンが押された時（onsubmit）」にポップアップを出す
	ブラウザに「OK」と「キャンセル」のボタンがついた小さな確認ダイアログ表示
	()のなかはシングルクオーテーション-->
	
		</form>
	</div></div> <hr />
<!--	 <div> タグは「ただの透明な箱」＝が麺大きくブロック分けしたいとき使う
	画面のレイアウトを「左側エリア」と「右側エリア」に分けたいときやパーツをグループごとにガバッとまとめて四角い箱に入れたいときに使います-->
	 
	<div>
		<h2>お洋服を条件で絞り込んで検索する</h2>
<!--onsubmit="...": 送信ボタンおされたら""の中身を実行してね(HTMLの決まり文句)-->
<!--return ...：関数の結果(true or false)をここに返してね、という命令(JSの決まり文句)-->
<!--validateSearchForm()：自由な関数名-->
	<form action="/search" method="get" onsubmit="return validateSearchForm()">
		<p>
			<label>カテゴリ：</label>
				<select name="category">
<!--	value="": これが選ばれた時は、中身は空っぽ（指定なし）のデータを送る-->
					<option value="">すべて(指定なし)</option>
					<option value="tops">トップス</option>
					<option value="pants">パンツ</option>
					<option value="skirt">スカート</option>
					<option value="onepiece">ワンピース</option>						
					<option value="outer">アウター</option>
					<option value="shoes">シューズ</option>
					<option value="bag">バッグ</option>	
					<option value="others">その他</option>					
				</select>
		</p>
		<p>
			<label>カラー(複数選択可)：</label><br/>
<!--		全体を <label>〜</label> で囲むことで、「ホワイト」という文字を
			クリックしてもチェックボックスにチェックが入る-->
				<label><input type="checkbox" name="colors" value="white"/>ホワイト</label>
				<label><input type="checkbox" name="colors" value="beige" />ベージュ</label>
				<label><input type="checkbox" name="colors" value="black" />ブラック</label>
				<label><input type="checkbox" name="colors" value="gray" />グレー</label>
				<label><input type="checkbox" name="colors" value="navy" />ネイビー</label>
				<label><input type="checkbox" name="colors" value="red" />レッド</label>
				<label><input type="checkbox" name="colors" value="pink" />ピンク</label><br/>
				<label><input type="checkbox" name="colors" value="orange" />オレンジ</label>
				<label><input type="checkbox" name="colors" value="yellow" />イエロー</label>
				<label><input type="checkbox" name="colors" value="green" />グリーン</label>
				<label><input type="checkbox" name="colors" value="purple" />パープル</label>
				<label><input type="checkbox" name="colors" value="blue" />ブルー</label>
				<label><input type="checkbox" name="colors" value="brown" />ブラウン</label>																
		</p>
		<p>
			<label >着用季節(複数選択可)：</label><br/>
				<label><input type="checkbox" name="seasons" value="IsSpring" />春</label>
			     <label><input type="checkbox" name="seasons" value="IsSummer" />夏</label>
			     <label><input type="checkbox" name="seasons" value="IsAutumn" />秋</label>
			     <label><input type="checkbox" name="seasons" value="IsWinter" />冬</label>
		</p>
		<p>
			<label>ブランド名：</label>
			<input type="text" name="brand" placeholder="例）UNIQLO（空欄でもOK）"style="width: 200px;"  />
		</p>
		<p>
			<label >
				<input type="checkbox" name="isFavorite" value="true" />★お気に入りのみ表示
			</label>
		</p>
					
		<button type="submit">この条件で検索する</button>
	</form>
	</div>
	
	
	
	
	 <div>
	 	<h2>新しいお洋服を登録する</h2>
<!--enctype="multipart/form-data" =文字だけじゃなくて画像ファイルも一緒に送る合図-->
<!--フォーム送信したときに /add というURLへ送る-->
		<form action="/add" method="post" enctype="multipart/form-data">
<!--	labelタグで囲むことによって入力画面やチェックボックス枠と文字を結び付け、どっちをクリックしても
		反応するようになる＝人間にとって「押しやすい親切な画面」にするために、文字とボタンをグループ化-->
			<p><label>服の名前：</label>
				<input type="text" name="name" placeholder="例）無地白Tシャツ"/>
			</p>
<!--		pタグ内は改行されない・<p> タグは「文章の段落」前後に少し広めの空白が自動で入る-->
			<p>
				<label>カテゴリ：</label>
				<select name="category">
					<option value="tops">トップス</option>
					<option value="pants">パンツ</option>
					<option value="skirt">スカート</option>
					<option value="onepiece">ワンピース</option>
					<option value="outer">アウター</option>
					<option value="shoes">シューズ</option>
					<option value="bag">バッグ</option>
					<option value="others">その他</option>
				</select>
			</p>
			<p>
				<label>カラー：</label>
				<select name="color">
					<option value="white">ホワイト</option>
					<option value="beige">ベージュ</option>
					<option value="black">ブラック</option>
					<option value="gray">グレー</option>
					<option value="navy">ネイビー</option>
					<option value="red">レッド</option>
					<option value="pink">ピンク</option>
					<option value="orange">オレンジ</option>
					<option value="yellow">イエロー</option>
					<option value="green">グリーン</option>
					<option value="purple">パープル</option>
					<option value="blue">ブルー</option>
					<option value="brown">ブラウン</option>
				</select>
			</p>
			<p>
				<label>ブランド：</label>
				<input type="text" name="brand" placeholder="例）UNIQLO"/>
			</p>
			<p>
				<label>価格：</label>
<!--	int priceだからここは数字のみ-->
				<input type="number"id="clothPrice" name="price" value="0" min="0"/>円
			</p>
			
			<p>
				<label>
					<input type="checkbox" name="favorite" value="true"/>★お気に入り登録
				</label>
			</p>
			<p>
				<label>着用季節：</label><br/>
<!--	value=trueはチェック入ったらtrueで送られる-->
				<label><input type="checkbox" name="spring" value="true"/>春</label>
				<label><input type="checkbox" name="summer" value="true"/>夏</label>
				<label><input type="checkbox" name="autumn" value="true"/>秋</label>
				<label><input type="checkbox" name="winter" value="true"/>冬</label>
			</p>
			<p>
				<label>画像：</label>
				<input type="file" name="clothImage" accept="image/*"required />
			</p>
	
			<p>
			<input type="submit" value="登録" />
			</p>
	
		</form>
	</div>
	
	<script>
		//function：今から関数を作るというJSの宣言-
		function validateSearchForm(){
	//①画面から入力されたデータを集める
		
		//(1)selectタグの選ばれている値
		
		//const 〇〇: 変数作る宣言（JS）
		//★selectタグで、name属性がcategoryの要素を取得
		//'select[name="category"]'：selectタグ　かつ　name="category"を持つ要素
		//全体が 1つの文字列 だから、外側を ' ' で囲ってる (JavaScriptに対して「ここからここまでが、
		//探してほしいCSSの条件だよ」と伝える)
		//内側の " "（ダブル）：CSSのルールの中で「colors という名前（文字列）」を指定
		//document.querySelector(...): 「HTMLの中から指定の部品（タグ）を探して！」という命令
		//→JavaScriptが最初から持っている機能（メソッド）
		//document → HTML全体  
		//querySelector():最初に見つけた単一のオブジェクト取ってくる←document持ってるメソッド(JS)
		//.value：プロパティ＝そのオブジェクトが持っている「データ（中身）」
		//今選ばれている選択肢を抜き取ってcategoryという箱に入れてる（const category = select.value;）
		//→valueは単一オブジェクトに使える
		const category=document.querySelector('select[name="category"]').value;
		
		//(2)チェックボックスでチェックは入ってるものを全部集める
		
		//querySelectorAll():見つかったもの全部（要素の詰まったリスト)全部とってくる
		//:checked＝name="colors"からチェックがついてるものだけに絞れる
		//→JavaScript独自の機能ではなく、CSSのルール（セレクター）＝''のなかに書く
		const colors = document.querySelectorAll('input[name="colors"]:checked');
		/*テスト用： チェックされたものを1つずつ取り出して処理する
		colors.forEach(input => {
		    console.log(input.value); // これでチェックされた値が順番に表示される！
		});*/
		const seasons =document.querySelectorAll('input[name="seasons"]:checked');	
		
		//(3)文字入力欄（文字の前後の余計なスペースを .trim() で削る）
		//.trim()：文字列（テキスト）の「前後に勝手に入っちゃった不要なスペース(空白)を自動で消してくれるメソッド
		//→文字列専用のメソッドである （jsメソッド）
		const brand = document.querySelector('input[name="brand"]').value.trim();
		
		//(4)お気に入りのチェック状態
		const isFavorite = document.querySelector('input[name="isFavorite"]:checked');
		
	// 2. 「すべての条件が未入力・未選択」かどうかを判定する
		// && は「〜かつ〜」という意味です
		//===（厳密等価）：型も中身も完全に一致しているかを見る
		//.length：配列が空かどうかを調べるには、配列の長さ（要素の数）を見るの確実
		//category === "" ＝：カテゴリが未選択（空っぽ）
		//&& colors.length === 0 ：なおかつ、色のチェック件数が0件
		//&& seasons.length === 0 ＝：なおかつ、季節のチェック件数が0件
		//&& !isFavorite ：　なおかつ、お気に入りにチェックが入っていない（! は「〜ではない」の否定）
		if (category === "" && colors.length === 0 
			&& seasons.length === 0 && brand === "" && !isFavorite) {
				// ポップアップで警告を出す
				//alert() は JavaScriptのメソッド（関数）
				//関数（Function）： 命令をひとまとめにしたもの（例：○○() ）。
				//メソッド（Method）： オブジェクト（モノやデータ）に所属している関数のこと。
				alert("検索条件を最低1つは選択、または入力してください");
				//falseを返すと、Java（サーバー）への送信をストップします！
				return false;
			}
			//どれか1つでも入力されていれば、無事に検索を実行（送信）
			return true;
		}
	</script>
</body>
</html>